# Different ways and time required to calculate mean of a dataset with R buit-in functions

In [20]:
mean_dataset_1 = function(X){
    v_mean = c()
    for (i in 1:ncol(X)){
        v_mean[i] = mean(X[, i])
    }
    names(v_mean) = names(X)
    v_mean
}

In [21]:
mean_dataset_2 = function(X){
    v_mean = c()
    for (i in 1:ncol(X)){
        v_mean[i] = sum(X[, i])/nrow(X)
    }
    names(v_mean) = names(X)
    v_mean
}

In [ ]:
comSums(X)/nrow(X)

## Time required to compute each function

### Using the rbenchmark package

In [18]:
#install.packages("rbenchmark")
library(rbenchmark)

In [31]:
time_required = function(X){
    out = list()
    time = benchmark("colMeans" = {
            out$colmeans = colMeans(X)
          },
          "apply" = {
            out$apply = apply(X, 2, mean)
          },
          "mean_dataset_1" = {
            out$mean1 = mean_dataset_1(X)
          },
          "mean_dataset_2" = {
            out$mean2 = mean_dataset_2(X)
          },
          replications = 1000,
          columns = c("test", "replications", "elapsed",
                      "relative", "user.self", "sys.self"))
    out$time = time[order(time$elapsed), ]
    out
}

In [34]:
data("iris")
iris = iris[, -5]

In [37]:
result = time_required(iris)
result$time

  test           replications elapsed relative user.self sys.self
4 mean_dataset_2 1000         0.04    1.00     0.05      0
3 mean_dataset_1 1000         0.05    1.25     0.05      0
1 colMeans       1000         0.06    1.50     0.06      0
2 apply          1000         0.10    2.50     0.09      0

In [38]:
result$colmeans

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [4]:
wine.uci = read.csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",
              header = FALSE)

In [9]:
wine.uci = wine.uci[,-1]

In [40]:
time_required(wine.uci)$time

  test           replications elapsed relative user.self sys.self
1 colMeans       1000         0.11    1.000    0.11      0
4 mean_dataset_2 1000         0.13    1.182    0.13      0
3 mean_dataset_1 1000         0.14    1.273    0.14      0
2 apply          1000         0.19    1.727    0.19      0

In [23]:
breast.cancer.uci = read.csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data",
              header = FALSE)

In [41]:
time_required(breast.cancer.uci[,-2])$time

  test           replications elapsed relative user.self sys.self
1 colMeans       1000         0.24    1.000    0.23      0
4 mean_dataset_2 1000         0.33    1.375    0.33      0
3 mean_dataset_1 1000         0.36    1.500    0.36      0
2 apply          1000         0.55    2.292    0.55      0

## The colMeans and mean_dataset_2 (using sum/nrow) functions were the fastest and apply was the slowest function to return the mean of a dataset